service/target
service/artifacts
builtin-package/*.wasm
trust-graph.tar.gz
distro/trust-graph-service
distro/target

**/*.rs.bk
**/.idea
**/artifacts
**/.DS_Store
**/node_modules
**/dist

# Remove after https://github.com/fluencelabs/aqua/issues/287
aqua/target/typescript/**
example/src/generated/**
example/generated/**
admin/src/generated/**
admin/generated/**

target

# recommended by Fluence Labs:
.idea
.DS_Store
.fluence
Cargo.lock
**/target/
.vscode/settings.json
.repl_history
